.new-game-container {
    position: relative;
    top: 100px;
    background-color: rgb(55, 60, 56);
    border-radius: 20px;
    text-align: center;
    width: 1250px;
    margin: auto;
    min-height: 900px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 20px 10px;
    background-image: url("../media/default/field.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index:999;
}

.total-pool{
    position: absolute;
    top: 58%;
    left: 47%;
    background-color: darkgreen;
    border-radius: 3px;
    text-align: center;
    width: 120px;
    margin: auto;
    height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 10px 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    visibility: hidden;
    z-index:999;
}

.pool-cards {
    position: absolute;
    left: 32%;
    top: 40%;
    margin: auto;
}

.game-title {
    padding: 15px auto;
    margin-left: 20px;
    color: whitesmoke;
    font-size: 26px;
    font-weight: bold;
    font-family: Garamond;
}

.user-container {
    position: absolute;
    top: 74%;
    left: 32%;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    text-align: center;
    width: 480px;
    margin: auto;
    height: 215px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 10px 10px;
    size: 10px;
    color: navajowhite;
    font-family: Helvetica;
    z-index:999;
}

.img-user {
    width: 50px;
    height: 50px;
}

.players {
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    text-align: center;
    width: 180px;
    margin: auto;
    height: 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 5px 0px 0px 5px;
    font-size: 10px;
    color: navajowhite;
    font-family: Helvetica;
}
.img-player {
    width: 35px;
    height:35px;
    background: white;
}

#player-0 {
    position: absolute;
    top: 57%;
    left: 4%;
}

#player-1 {
    position: absolute;
    top: 37%;
    left: 4%;
}

#player-2 {
    position: absolute;
    top: 20%;
    left: 21%;
}

#player-3 {
    position: absolute;
    top: 20%;
    left: 44%;
}

#player-4 {
    position: absolute;
    top: 20%;
    left: 67%;
}

#player-5 {
    position: absolute;
    top: 37%;
    left: 82%;
}

#player-6 {
    position: absolute;
    top: 57%;
    left: 82%;
}

.music-btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}