{% extends "base_function.html" %}

{% block title %}Password Reset{% endblock %}
{% block sidebar %}{% endblock %}

{% block middle_area %}
<div class="container">
    <div class="justify-content-md-center home-middlearea">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3>Find your Grumblr account</h3>
        <form action="{% url 'forget_password' %}" method="post">
            {% if email %}
            An email will be sent to your email: {{email}}<br>
            <button type="submit" class="btn-red btn-post">
                Confirm
            </button>
            {% endif %}
            <p class="error-msg">
                {% if email_error %}
                {{email_error}}
                {% endif %}
            </p>
            {% csrf_token %}
        </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}