{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}Search friend{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <br><br><br><br><br>
            </div>
            <div class="row">
                {#               this part should be modified a litte after function finished, for now just display all the friend, name should have a link  #}
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="title pull-left">Friend Requests</h4>
                            <br><br>
                        </div>

                        <ul class="list-group" id="contact-list">
                            {% if not requests %}
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="{% url 'get_profile_image' user.id %}" alt="{{ user.username }}"
                                             class="img-responsive img-circle"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-9"><br>
                                        <span class="name">You have no friend requests</span><br/><br/>
                                        <a href="#" class="btn btn-danger">No Search Result</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endif %}
                            {% for request in requests %}
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="{% url 'get_profile_image' request.from_user.id %}"
                                             alt="{{ request.from_user.username }}"
                                             class="img-responsive img-circle"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-9"><br>
                                        <span class="name">{{ request.from_user.username }}</span><br/><br/>
                                        {#                                    add friend link?#}
                                        <a href="#" class="btn btn-info">Add</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block animation %}{% endblock %}
{% endblock %}