{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}New Game{% endblock %}
{% block new-game %}
    <li class="dropdown active">{% endblock %}
{% block content %}
    <div class="container">
        <!-- Content here -->
        <div class="login-container">
            <div class="login-title-div">
                <h3 class="login-title">Congratulation!</h3>
            </div>
            <div class="login-outer">
                <div class="login-inner">
                    <h4>A game with
                        {{entry_funds}}
                        players and
                        ${{ players }}
                        for entry is initialized. The room number is
                        {{ game_no }}
                    . Tell your friend the room number and start enjoying the game!</h4><br><br><br>
                        <a class="btn btn-success" href="/game_ongoing/{{ game_no }}">
                            Enter the room!
                        </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}