{% extends "base_nav.html" %}
{% load staticfiles %}
{#need to specify the room number here?#}
{% block title %}Room Number{% endblock %}
{% block new-game %}
    <li class="dropdown active">{% endblock %}
{% block content %}
    <div class="game-body container fluid ">
        <div class="row">
            <div class="col-md-4">
                <!-- Content here -->
                <div class="game-container">
                    <div class="login-title-div pull-left">
                        <h5 class="login-title"><span id="page_title">Welcome to room {{ game_no }}</span></h5>
                    </div>
                    <div class="login-title-div pull-right">
                        <a class="btn btn-success" target="_blank"
                           href="https://www.espacejeux.com/en/poker/combinations">Combination Menu</a>
                    </div>
                    <div class="pool-container">
                        {#  when putting many div the format will go wrong... you guys do ur own work and I will think about how to fix it #}
                        <table>
                            <tr>
                                <td>
                                    <div class="poker-container card-large" id="dealer_card0"></div>
                                </td>
                                <td>
                                    <div class="poker-container card-large" id="dealer_card1"></div>
                                </td>
                                <td>
                                    <div class="poker-container card-large" id="dealer_card2"></div>
                                </td>
                                <td>
                                    <div class="poker-container card-large" id="dealer_card3"></div>
                                </td>
                                <td>
                                    <div class="poker-container card-large" id="dealer_card4"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div class="underpool-container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <img src="{% url 'get_profile_image' login_user.id %}" alt="Scott Stevens"
                                     class="img-responsive img-circle"/>
                                <span class="login-link">{{ login_user.username }}</span><br/>
                                <input type="hidden" value="{{ login_user.id }}" id="current-player-id">
                                <input type="hidden" value="{{ login_user.username }}" id="current-player-username">
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <span>Card 1:</span>
                                <img class="card-large" id="card0">
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <span>Card 2:</span>
                                <img class="card-large" id="card1">
                            </div>
                            <div class="col-xs-12 col-sm-3"><br><br>
                                <h5 class="login-title txt-fund" id="my_fund">You bet $CMD<span>10</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 selector-bet" id="chips">
                                <div id="slidecontainer">
                                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                    <p>$<span id="demo"></span></p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 btn-bet" id="btn_bet">
                                <a class="btn btn-success">Bet</a>
                            </div>
                            <div class="col-xs-12 col-sm-3 btn-allin" id="btn_allin">
                                <a class="btn btn-success">All in</a>
                                <input type="hidden" id="hidden_allin">
                            </div>
                            <div class="col-xs-12 col-sm-3 btn-check" id="btn_check">
                                <a class="btn btn-info">Check</a>
                            </div>
                            <div class="col-xs-12 col-sm-3 btn-fold" id="btn_fold">
                                <a class="btn btn-default">Fold</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-4">
                <div class="player-container">
                    <div class="login-title-div">
                        <h5 class="login-title">Players</h5>
                    </div>
                    {#I think its better to sort people by its turn every round. And maybe change its name color to indicate big blind or small blind#}
                    <div class="login-outer">
                        <div class="login-inner">
                            <ul class="list-group" id="contact-list">
                                {% if players %}
                                    {% for player in players %}
                                        <li class="list-group-item">
                                            <div class="col-xs-12 col-sm-3">
                                                <img src="{% url 'get_profile_image' player.id %}"
                                                     alt="Scott Stevens"
                                                     class="img-responsive img-circle"/><span
                                                    class="login-link">{{ player.username }}</span><br/>
                                            </div>
                                            <div class="col-xs-12 col-sm-9">
                                                <span id="txt_fund_{{ player.id }}" class="txt-fund"></span><br/><br/>
                                                <span id="txt_turn_{{ player.id }}" class="txt-turn"></span><br/>
                                            </div>
                                            <div class="clearfix"></div>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <a class="btn btn-danger" href="{% url 'new_game' %}">Exit the
                                room</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script type="text/javascript" src='{% static "jquery-3.2.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
<script type="text/javascript" src='{% static "application.js" %}'></script>