{% extends "base_nav.html" %}
{% load staticfiles %}
{#need to specify the room number here?#}
{% block title %}{{ game_no }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/gamepage.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/TimeCircles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css">
{% endblock %}
{% block new-game %}
    <li class="dropdown active">
{% endblock %}
{% load static %}
{% block content %}
    <div class="game-body container fluid ">
        <div class="row">
            <div class="new-game-container">
                <div class="login-title-div pull-left">
                    <h5 class="game-title"><span id="page_title">Welcome to room {{ game_no }}</span></h5>

                </div>
                <div class="login-title-div pull-right">
                    {#                    <audio id = "background" src = "../static/media/music/background.mp3" autoplay loop>#}
                    {#                    </audio>#}
                    <img class="music-btn" src="../static/media/default/play.jpg" onclick="background.play()">
                    <img class="music-btn" src="../static/media/default/stop.jpg" onclick="background.pause()">
                    <a class="btn btn-success" target="_blank"
                       data-toggle="modal" data-target="#myModal">Combination Menu</a>
                    <a class="btn btn-danger" href="{% url 'homepage' %}" id="exit">Exit</a>
                </div>
                <table class="pool-cards">
                    <tr>
                        <td>
                            <div class="poker-container card-large" id="dealer_card0"></div>
                        </td>
                        <td>
                            <div class="poker-container card-large" id="dealer_card1"></div>
                        </td>
                        <td>
                            <div class="poker-container card-large" id="dealer_card2"></div>
                        </td>
                        <td>
                            <div class="poker-container card-large" id="dealer_card3"></div>
                        </td>
                        <td>
                            <div class="poker-container card-large" id="dealer_card4"></div>
                        </td>
                    </tr>
                </table>
                <div class="total-pool" id="pot">
                    <span>Pot: 0</span>
                </div>
                {#                <div class="wrapper countdown-show">#}
                {#                    <div class='time-part-wrapper'>#}
                {#                        <div class='time-part seconds ones'>#}
                {#                            <div class='digit-wrapper'>#}
                {#                                <span class='digit'>1</span>#}
                {#                                <span class='digit'>5</span>#}
                {#                                <span class='digit'>4</span>#}
                {#                                <span class='digit'>3</span>#}
                {#                                <span class='digit'>2</span>#}
                {#                                <span class='digit'>1</span>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="user-container row">
                    <div class="col-sm-2">
                        <div id="outer-circle">
                            <div class="curr-timer" data-timer="30" id="timer0"></div>
                            <img src="{% url 'get_profile_image' login_user.id %}" alt=""
                                 class="img-circle img-user"/><br>
                        </div>
                        <div id="user-info">
                            <span class="login-link">{{ login_user.username }}</span><br/>
                            <span class="txt-fund" id="txt_myfund">Stack: <span id="my_fund"></span></span>
                            <input type="hidden" value="{{ login_user.id }}" id="current-player-id">
                            <input type="hidden" value="{{ login_user.username }}" id="current-player-username">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div id="player-cards">
                            <img class=" card-large card0" id="card0">
                            <img class=" card-large card1" id="card1">
                        </div>
                    </div>
                    <div id="btn_bar">
                        <div class="btn-group" style="background-color: #666666; height: 65px;margin: 15px 0 0 0;">
                            <section class="alpha" style="padding: 2px 32px">
                                <button id="btn_bet" class="btn btn-light btn-disabled" disabled>Bet</button>
                                <button id="btn_check" class="btn btn-gray btn-disabled" disabled>Check</button>
                                <button id="btn_fold" class="btn btn-dark btn-disabled" disabled>Fold</button>
                            </section>
                            <div class="selector-bet" id="chips" style="margin-top: 5px; visibility: hidden">
                                <div id="slidecontainer">
                                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                    <p>$<span id="demo"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-result">
                    <div class="winner">
                        <span class="font-win"></span>
                    </div>
                </div>
                <div id="players">
                    <div id="player-0">
                    </div>
                    <div id="stack-0">
                    </div>
                    <div id="player-1">
                    </div>
                    <div id="stack-1">
                    </div>
                    <div id="player-2">
                    </div>
                    <div id="stack-2">
                    </div>
                    <div id="player-3">
                    </div>
                    <div id="stack-3">
                    </div>
                    <div id="player-4">
                    </div>
                    <div id="stack-4">
                    </div>
                    <div id="player-5">
                    </div>
                    <div id="stack-5">
                    </div>
                    <div id="player-6">
                    </div>
                    <div id="stack-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instruction（Modal） -->
    <div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Combinations rankings
                    </h4>
                </div>
                <img src="../static/media/default/rankings.jpg">
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}
{% block js %}
    <script src={% static 'js/TimeCircles.js' %}></script>
    <script src={% static 'js/application.js' %}></script>
{% endblock %}
