{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="container">
        <div class="login-container">
            <div class="login-title-div">
                <h3 class="login-title">Use Your Coupon</h3>
                {% if warnning %}
                    <h3 class="text-center"> {{ warnning }}</h3>
                {% endif %}
            </div>
            <div class="login-outer">
                <div class="login-inner">
                    <!--Login form-->
                    <form class="form-signin" action="{% url 'get_coupon' %}"
                          method="post">
                        {% for field in couponForm.visible_fields %}
                            <tr>
                                <td>{{ field }}</td>
                            </tr>
                            <br><br>
                        {% endfor %}
                        <input type="submit" class="btn-red" value="Confirm">
                        {% for error in couponForm.non_field_errors %}
                            <a>{{ error }}</a>
                        {% endfor %}
                        {% for field in couponForm.visible_fields %}
                            <a>{{ field.errors }}</a>
                        {% endfor %}
                        {% csrf_token %}
                    </form>
                    {% for message in messages %}
                        <br><a>{{ message }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}