{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}My CMU-Texas{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">

{% endblock %}
{% block nav-home %}
    <li class="active"><a href="/">Home</a></li>{% endblock %}
{% block content %}
    <div class="row">
        <div class="container">
            <div class="row">
                <svg viewBox="0 0 960 300" xmlns:xlink="http://www.w3.org/1999/xlink"
                     xmlns="http://www.w3.org/2000/svg">
                    <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="80%">CMU Texas</text>
                    </symbol>
                    <g class="g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="homepage-container">
    <br><br>
        <ul>
            <li>
                <a href="/new_game" class="btn  btn-lg btn-success">
                    Open a room
                </a>
                <br><br><span class="hometext">Click to start a new game</span><br><br>
            </li>
            <li>
                <a href="/game_join" class="btn  btn-lg btn-danger">
                    Join a room
                </a>
                <br><br><span class="hometext">Click to join an opened game</span><br><br>
            </li>
            <li>
                <a href="/scoreboard" class="btn  btn-lg btn-info">
                    Scoreboard
                </a>
                <br><br><span class="hometext">Click to see the score board</span><br><br>
            </li>
        </ul>
    </div>

{% endblock %}
