{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}My friends{% endblock %}
{% block account %}
    <li class="dropdown active">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <br><br><br><br><br>
            </div>
            <div class="row">
                {#               this part should be modified a litte after function finished, for now just display all the friend, name should have a link  #}
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading c-list">
                            <h4 class="title pull-left">My friends</h4>
                            <br><br>
                        </div>

                        <ul class="list-group" id="contact-list">
                            {% if not friends %}
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="{% url 'get_profile_image' user.id %}" alt="{{ user.username }}"
                                             class="img-responsive img-circle"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <h3 class="name">You have no friends now!</h3><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endif %}
                            {% for friend in friends %}
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <img src="{% url 'get_profile_image' friend.id %}" alt="{{ friend.username }}"
                                             class="img-responsive img-circle"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <h4 class="name"><a href="{% url 'profile' friend.username %}">{{ friend.username }}</a></h4><br/>
                                    </div>
                                    <div class="clearfix"></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>{% block animation %}{% endblock %}
{% endblock %}