{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}My friends{% endblock %}
{% block account %}
    <li class="dropdown active">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <br><br><br><br><br>
            </div>
            <div class="row">
                {#               this part should be modified a litte after function finished, for now just display all the friend, name should have a link  #}
                <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading c-list">
                            <h4 class="title pull-left">My friends</h4>
                            <h5><a class="btn btn-info pull-right" href="add_friend">Add Friend</a></h5>
                            <br><br>
                        </div>

                        <ul class="list-group" id="contact-list">
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Scott Stevens</span><br/>
                                    {#                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip"#}
                                    {#                                          title="5842 Hillcrest Rd"></span>#}
                                    {#                                    <span class="visible-xs"> <span#}
                                    {#                                            class="text-muted">5842 Hillcrest Rd</span><br/></span>#}
                                    {#                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip"#}
                                    {#                                          title="(870) 288-4149"></span>#}
                                    {#                                    <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>#}
                                    {#                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip"#}
                                    {#                                          title="scott.stevens@example.com"></span>#}
                                    {#                                    <span class="visible-xs"> <span#}
                                    {#                                            class="text-muted">scott.stevens@example.com</span><br/></span>#}
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Seth Frazier</span><br/>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Jean Myers</span><br/>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/men/24.jpg" alt="Todd Shelton"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Todd Shelton</span><br/>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/women/34.jpg" alt="Rosemary Porter"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Rosemary Porter</span><br/>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/women/56.jpg" alt="Debbie Schmidt"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Debbie Schmidt</span><br/>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="http://api.randomuser.me/portraits/women/76.jpg" alt="Glenda Patterson"
                                         class="img-responsive img-circle"/>
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Glenda Patterson</span><br/>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}