{% extends "base_nav.html" %}
{% load staticfiles %}
{% block title %}New Game{% endblock %}
{% block new-game %}
    <li class="dropdown active">{% endblock %}
{% block content %}
    <div class="container">
        <!-- Content here -->
        <div class="login-container">
            <div class="login-title-div">
                <h3 class="login-title">Please Specify..</h3>
            </div>

            <div class="login-outer">
                <div class="login-inner">
                    <form method="POST" action="{% url 'new_game' %}">
                        {% csrf_token %}
                        <label for="">The amount of entry funds</label>
                        <br/>
                        <select name="entry_funds" class="form-control width_select habitaciones">
                            <option value='100'>100</option>
                            <option value='200'>200</option>
                            <option value='400'>400</option>
                            <option value='600'>600</option>
                            <option value='800'>800</option>
                            <option value='1000'>1000</option>
                        </select>
                        <br>
                        <label for="">The number of players</label>
                        <br/>
                        <select name='no_players' class="form-control width_select habitaciones">
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                            <option value='6'>6</option>
                            <option value='7'>7</option>
                            <option value='8'>8</option>
                        </select>
                        <br>
                        <button type="submit" class="btn-red">
                            Start a new game
                        </button>
                    </form>
                    <div class="alert alert-light login-alert-div" role="alert">
                        <hr class="login-alert">
                        <span class="login-link">Already have a room number?</span>
                        <a href="{% url 'game_join' %}" class="alert-link login-link">Join Room</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}