{% extends "base_function.html" %}

{% block title %}Password Reset{% endblock %}
{% block sidebar %}{% endblock %}
{% block middle_area %}
<div class="container">
    <div class="row justify-content-md-center home-middlearea">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3>Check your email</h3>
                <p class="lead">We've sent an email to {{email}}.
                Please click the link in the email to reset your password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}