{% extends "base_function.html" %}

{% block title %}Password Reset{% endblock %}
{% block sidebar %}{% endblock %}

{% block middle_area %}
<div class="container">
    <div class="justify-content-md-center home-middlearea">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
        <form action="/reset_password_submit/{{username}}" method="post">
            {% for field in reset_form.visible_fields %}
            <fieldset>
                {{ field.label_tag }}<br>
                {{ field }}
            </fieldset>
            {% endfor %}
            <button type="submit" class="btn-red btn-post">
                Submit
            </button>
            <p class="error-msg">
                {% for key, error in reset_form.errors.items %}
                {{error}}
                {% endfor %}
            </p>
            {% csrf_token %}
        </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}