.new-game-container {
    position: absolute;
    top: 7%;
    /*left: 15%;*/
    display: inline-block;
    background-color: rgb(55, 60, 56);
    border-radius: 20px;
    text-align: center;
    width: 1250px;
    min-height: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 20px 10px;
    background-image: url("../media/default/field.png");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    z-index:999;
}

.total-pool{
    position: absolute;
    top: 58%;
    left: 47%;
    background-color: darkgreen;
    border-radius: 3px;
    text-align: center;
    width: 120px;
    margin: auto;
    height: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 10px 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
    visibility: hidden;
    z-index:999;
}

.pool-cards {
    position: absolute;
    left: 32%;
    top: 36%;
    margin: auto;
}

.game-title {
    padding: 15px auto;
    margin-left: 20px;
    color: whitesmoke;
    font-size: 26px;
    font-weight: bold;
    font-family: Garamond;
}

.user-container {
    position: absolute;
    top: 70%;
    left: 40%;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    text-align: center;
    width: 320px;
    margin-top: -40px;
    height: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 10px 0px;
    size: 10px;
    color: navajowhite;
    font-family: Helvetica;
    z-index:999;
}

.img-user {
    background-color: white;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -30px;
}

#user-info {
    width: 100px;
}

.player-info {
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    text-align: center;
    width: 140px;
    margin: auto;
    height: 42px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    padding: 5px 0px 0px 5px;
    font-size: 12px;
    color: navajowhite;
    font-family: Helvetica;
    position:relative;
    opacity: 0.8
}

/*****************************************************
  Timer

 *****************************************************/

.timer {
    position: absolute;
    top: -15%;
    left: 18%;
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-flex;
}

.timer .textDiv_Seconds {
    display: none;
}

#outer-circle {
    position: relative;
    height: 100px;
    width: 100px;
}

.curr-timer {
    position: absolute;
    /*margin-top: -90%;*/
    /*margin-left: -44%;*/
    top: 50%;
    left: 50%;
    /*left: -1px;*/
    width: 90px;
    margin: -45px 0px 0px -45px;
    /*display: inline-block;*/
}

.curr-timer .textDiv_Seconds {
    display: none;
}

.img-player {
    background: white;
    width: 60px;
    height: 60px;
    margin-bottom: -10px;
}

#player-0 {
    position: absolute;
    top: 53%;
    left: 12%;
    visibility: visible;
}

#player-1 {
    position: absolute;
    top: 30%;
    left: 8%;
    visibility: visible;
}

#player-2 {
    position: absolute;
    top: 11%;
    left: 21%;
    visibility: visible;
}

#player-3 {
    position: absolute;
    top: 10%;
    left: 44%;
    visibility: visible;
}

#player-4 {
    position: absolute;
    top: 11%;
    left: 67%;
    visibility: visible;
}

#player-5 {
    position: absolute;
    top: 30%;
    left: 80%;
    visibility: visible;
}

#player-6 {
    position: absolute;
    top: 53%;
    left: 76%;
    visibility: visible;
}

#stack-0 { position: absolute;top: 59%;left: 24%; visibility: hidden; }
#stack-1 { position: absolute;top: 41%;left: 20%; visibility: hidden; }
#stack-2 { position: absolute;top: 25%;left: 30%; visibility: hidden; }
#stack-3 { position: absolute;top: 25%;left: 53%; visibility: hidden; }
#stack-4 { position: absolute;top: 25%;left: 65%; visibility: hidden; }
#stack-5 { position: absolute;top: 41%;left: 71%; visibility: hidden; }
#stack-6 { position: absolute;top: 59%;left: 67%; visibility: hidden; }

.chip { width: 30px }
.chip-info {
    width:75px;
    height: 21px;
    background-color: #ffff99;
    display: inline-flex;
    border-radius: 4px;
    padding-left: 2px;
}

#player-cards {
    width: 200px;
    position: absolute;
    top: 5%;
    left: 20%;
    margin-left: 50px;
}

.card0 {
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari */
    transform: rotate(-5deg); /* Standard syntax */
    margin-top: 20px;
    position: relative;
}

.card1 {
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari */
    transform: rotate(5deg); /* Standard syntax */
    margin-left: -15px;
    margin-top: 20px;
    position: relative;
}

.card-show {
    margin-top: -115%;
    position: relative;
}

.operation {
    background-color: #e6005c;
    width: 50px;
    color: white;
    border-radius: 2px;
    text-align: center;
    height: 20px;
    margin: auto;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);*/
    font-size: 14px;
    /*font-family: Helvetica;*/
    position:relative;
    visibility: hidden;
}

.music-btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.music-btn:hover{
    transform: scale(1.2);
}

.music-btn:active{
    transform: scale(0.8);
}

.countdown-show {
    visibility: hidden;
}

.game-result {
    position: absolute;
    top:25%;
    padding-top: 20px;
    visibility: hidden;
    width:100%;
    text-align: center;
}

.winner {
    display: inline-block;
}

.modal {
    z-index: 9999;
    text-align: center;
}
